.spinner {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner img {
    width: 70px;
    height: 70px;
    animation: spin 1.5s infinite linear;
    -webkit-animation: spin 1.5s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}